{% extends "base.html" %}

{% block title %}Translate{% endblock %}
{% block content %}
<style>
    .content-container {
        height: calc(100vh - 56px); /* Віднімаємо висоту навбару */
        display: flex;
        align-items: center; /* Центрування контенту по вертикалі */
        justify-content: center; /* Центрування контенту по горизонталі */
    }
</style>
<div class="content-container">
    <div class="text-center">
        <h2>This is the main page for my project of text translation.</h2>
    </div>
</div>
{% endblock %}
